/* Google Font Integration */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
/* Tailwind CSS Integration */
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 11/12;
  margin: 0 auto;
}

.banner-bg {
  background-image: url("./assets/title-bg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cooking-bg {
  background: linear-gradient(#ffffff90, #fcb700), url("./assets/cook-bg.gif");
}
